# 🔹 Dependencias
/node_modules
/.pnp
.pnp.js
Server/node_modules

# 🔹 Testing
/coverage

# 🔹 Producción
/build
/dist

# 🔹 Archivos temporales o de entorno
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# 🔹 Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 🔹 Configuraciones de editores
.vscode/
.idea/
*.swp
*.swo

# 🔹 Cache de ESLint
.eslintcache

# 🔹 Configuraciones locales del servidor
Server/config.js

# 🔹 Archivos de despliegue
.vercel
.netlify

# 🔹 Archivos del sistema
Thumbs.db
__MACOSX/

# 🔹 Archivos temporales o de respaldo
*.tmp
*.bak
